*{
  box-sizing: border-box;
}
body{
  background-color: #FFFFFF;
  font-family: 'Poppins';
  margin: 0 auto;
}
p,
h2,
h3,
ul,
li{
  margin: 0;
}
p{
  color: #666;
  font-style: normal;
  font-weight: 400;
}
header,
.hello_section,
.footer_wrapper{
  width: 80%;
}
header{
  width: 100%;
  height: 65px;
  display: flex;
  margin: 0 auto;
  padding: 41px 0;
  position: fixed;
  align-items: center;
  background-color: #FFF;
  box-shadow: 0px 4px 6px rgb(177 174 174 / 25%);
  top: 0;
  z-index: 10;
}
.wrapper{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  margin: 0 auto;
}
.logo_img{
  width: 30%;
}
.nav_menu{
  width: 70%;
  display: flex;
}
.links,
.social_links{
  display: flex;
  justify-content: space-around;
  width: 82%;
  padding: 8px 0;
  align-items: center;
}
.links{
  width: 82%;
}
.social_links{
  width: 18%;
}
a{
  color: #666;
  text-align: center;
  font-family: 'DM Sans';
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
a:hover{
  text-decoration: underline;
  color: rgb(0, 132, 255);
  font-size: 22px;
}
.main_container{
  margin-top: 320px;
}
.hello_section{
  margin: 0 auto 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.developer_name p {
  color: #42446E;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 58px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
}
.gradient_name{
  background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
div .gradient_background{
  width: 349px;
  height: 349px;
  background: linear-gradient(1deg, #13B0F5 -2.06%, #E70FAA 100%);
  border-radius: 50%;
}
.developer_photo img{
  width: 333px;
  height: 333px;
  border-radius: 50%;
  position: relative;
  top: 8px;
  left: 8px;
}
.about_me{
  width: 80%;
  margin: 0 auto;
}
.block_width{
  width: 60%;
}
.title h2{
  margin: 38px 0;
  font-size: 42px;
  color: #42446E;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -0.4px;
}
.title{
  line-height: 26px;
}
.title_description{
  font-size: 18px;
}
.job_section{
  border-bottom: 2px solid #EBEAED;
}
.job_description{
  display: flex;
  justify-content: space-between;
  padding-bottom: 3px;
  margin-top: 30px;
}
.job_title{
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1px;
}
.job_marker p{
  min-width: 92px;
  padding: 1px 22px;
  border-radius: 100px;
  background-color:  #D7FFE0;
  color: #018C0F;
  text-align: center;
  font-size: 9px;
  font-weight: 600;
  line-height: 26px;
}
.job_marker:hover{
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.job_details,
.details{
  display: flex;
  justify-content: space-between;
}
.details{
  padding-bottom: 26px;
}
.company{
  display: flex;
}
.company p{
  color: #A7A7A7;
  font-size: 12px;
  font-weight: 500;
  line-height: 28px;
}
.company_name{
  position: relative;
  padding-left: 20px;
  padding-right: 80px;
}
.duration p{
  color: #A7A7A7;
  font-size: 12px;
}
.company_name::before{
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url('./images/mdi_office-building.svg');
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  top: 6px;
}
.company_location{
  position: relative;
}
.company_location::before{
  content: "";
  display: block;
  width: 16px;
  height: 12px;
  background-image: url('./images/pin.png');
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  left: -20px;
  top: 8px;
}
.duration{
  position: relative;
  padding-left: 20px;
}
.duration::before{
  content: "";
  display: block;
  width: 16px;
  height: 12px;
  background-image: url('./images/gg_calendar-dates.svg');
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  left: 0px;
  top: 3px;
}
.job_title{
  padding-right: 0;
}
.techStack{
  width: 80%;
  margin: 0 auto;
}
.techDescription{
  font-size: 20px;
  margin-bottom: 140px;
}
.technologies_block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 66px;
}
.projects{
  width: 80%;
  margin: 0 auto;
}
.projects > div > p{
  font-size: 20px;
  margin-bottom: 96px;
}
.all_portfolio{
  display: grid;
  grid-template-columns: repeat(3, 375px);
  grid-template-rows: repeat(2, 575px);
  gap: 62px 45px;
  justify-content: space-between;
}
.card_content{
  border-radius: 20px;
  background: #FFF;
  box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.20);
}
.portfolio_image{
  border-radius: 20px 20px 0px 0px;
}
h3{
  color: #000;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  line-height: 26px;
  padding: 17px 35px;
}
.portfolio_description p{
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  padding: 10px 30px;
  text-align: left;
}
div .tech_style{
  color: #42446E;
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  padding-top: 0;
  padding-bottom: 0;
}
.tech_style span{
  font-size: 14px;
  font-weight: 300;
}
.list_links{
  padding: 20px;
}
.list_links ul{
  display: flex;
  justify-content: space-between;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-decoration-line: underline;
}
li{
  list-style-type: none;
}
.chain,
.git_chain{
  position: relative;
}
.chain::before{
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url('./images/link_chain.svg');
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  left: -30px;
  top: 3px;
}
.git_chain::before{
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url('./images/icons_github_fill.svg');
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  left: -30px;
  top: 3px;
}
.email{
  margin: 200px auto;
}
.email p{
  color: #1E0E62;
  text-align: center;
  font-family: 'DM Sans';
  font-size: 58px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
}
footer{
  margin: 199px auto 0;
  width: 80%;
}
.footer_contacts{
  margin: 0 auto;
  display: flex;
}
.links div p,
.nav_footer a{
  color: #42446E;
  font-size: 18px;
}
.top_footer{
  margin-bottom: 55px;
}
.bottom_footer{
  display: flex;
  justify-content: space-between;
  padding: 61px 0;
  border-top: 2px solid #EBEAED;
}
.nav_footer{
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.bottom_nav p{
  font-size: 18px;
}

/* ///////////////////////// */
@media screen and (max-width: 1200px){

}
@media screen and (max-width: 992px){
  header,
  .hello_section,
  .footer_wrapper{
      width: 90%;
  }
  header{
    margin-bottom: 40px;
  }
  .nav_menu{
    flex-direction: column;
  }
  .links,
  .social_links{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 82%;
    padding: 8px 0;
    align-items: center;
  }
  .links{
    width: 100%;
    justify-content: space-between;
  }
  .social_links{
    width: 100%;
  }
  .hello_section{
    margin: 0 auto 30px;
    justify-content: space-around;
  }
  .developer_name p {
    font-size: 42px;
    line-height: 60px;
  }
  .developer_photo img{
    margin-top: 20px;
    width: 280px;
    height: 280px;
  }
  .about_me{
    width: 90%;
    margin-left: 25px;
    text-align: center;
  }
  .title{
    font-size: 26px;
  }
  .title h2{
    margin-bottom: 22px;
  }
  .title p{
    font-size: 18px;
    margin-bottom: 18px;
  }
  .job_title{
    font-size: 18px;
    line-height: 22px;
  }
  .job_details,
  .details{
    align-items: flex-start;
    flex-direction: column;
  }
  .education{
    margin-top: 28px;
  }
  footer{
    margin-top: 30px;
    width: 80%;
  }
  .top_footer {
    margin-bottom: 25px;
  }
  .bottom_footer{
    width: 100%;
    padding: 30px 0;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
  }
  .nav_footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
  }
} 

@media screen and (max-width: 768px){
  header,
  .hello_section,
  .footer_wrapper{
      width: 90%;
  }
  header{
    margin-bottom: 60px;
  }
  .nav_menu{
    flex-direction: column;
  }
  .links,
  .social_links{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    width: 82%;
    padding: 8px 0;
    align-items: center;
  }
  .links{
    width: 100%;
  }
  .social_links{
    width: 100%;
  }
  .hello_section{
    margin: 0 auto 30px;
    flex-direction: column;
  }
  .developer_name p {
    font-size: 38px;
    line-height: 60px;
  }
  .developer_photo img{
    margin-top: 20px;
    width: 249px;
    height: 249px;
  }
  .about_me{
    width: 90%;
    margin-left: 25px;
  }
  .title{
    font-size: 26px;
  }
  .title h2{
    margin-bottom: 18px;
  }
  .title p{
    font-size: 16px;
    margin-bottom: 18px;
    text-align: justify;
  }
  .job_title{
    font-size: 18px;
    line-height: 22px;
  }
  .job_details,
  .details{
    align-items: flex-start;
    flex-direction: column;
  }
  .education{
    margin-top: 28px;
  }
  footer{
    margin-top: 30px;
    width: 80%;
  }
  .top_footer {
    margin-bottom: 25px;
  }
  .bottom_footer{
    width: 100%;
    padding: 30px 0;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
  }
  .nav_footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 480px){
  header,
  .hello_section,
  .footer_wrapper{
      width: 90%;
  }
  header{
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 80px;
  }
  .logo_img{
    align-self: center;
  }
  .nav_menu{
    width: 100%;
    flex-direction: column;
  }
  .links,
  .social_links{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    width: 82%;
    padding: 8px 0;
    align-items: center;
  }
  .links{
    width: 100%;
    flex-direction: column;
  }
  .social_links{
    width: 100%;
  }
  .hello_section{
    margin: 0 auto 30px;
    flex-direction: column;
  }
  .developer_name p {
    font-size: 32px;
    line-height: 50px;
  }
  .developer_photo img{
    margin-top: 20px;
    width: 249px;
    height: 249px;
  }
  .about_me{
    width: 90%;
    margin-left: 20px;
  }
  .title{
    font-size: 26px;
  }
  .title h2{
    margin-bottom: 18px;
  }
  .title p{
    font-size: 16px;
    margin-bottom: 18px;
  }
  .job_title{
    font-size: 18px;
    line-height: 22px;
  }
  .job_details,
  .details{
    align-items: flex-start;
    flex-direction: column;
  }
  .education{
    margin-top: 28px;
  }
  footer{
    margin-top: 30px;
    width: 80%;
  }
  .top_footer {
    margin-bottom: 25px;
  }
  .bottom_footer{
    width: 100%;
    padding: 30px 0;
  }
  .nav_footer{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

/* @media screen and (max-width: 1200px){

}
@media screen and (max-width: 992px){

} 

@media screen and (max-width: 768px){

}

@media screen and (max-width: 480px){

} */