*{
    box-sizing: border-box;
}
body{
    background-color: #FFFFFF;
    font-family: 'Poppins';
    margin: 0 auto;
}
p,
h2{
    margin: 0;
}
p{
    color: #666;
    font-style: normal;
    font-weight: 400;
}
header,
.hello_section,
.footer_wrapper{
    width: 75%;
}
header{
    display: flex;
    margin: 41px auto 220px;
}
.logo_img{
    width: 30%;
}
.nav_menu{
    width: 70%;
    display: flex;
}
.links,
.social_links{
    display: flex;
    justify-content: space-around;
    width: 82%;
    padding: 8px 0;
    align-items: center;
}
.links{
    width: 82%;
}
.social_links{
    width: 18%;
}
a{
    color: #666;
    text-align: center;
    font-family: 'DM Sans';
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}
a:hover{
    text-decoration: underline;
    color: rgb(0, 132, 255);
    font-size: 22px;
}

.hello_section{
    margin: 0 auto 291px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.developer_name p {
    color: #42446E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
}
.gradient_name{
    background: var(--Gradient-Heading, linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.developer_photo img{
    width: 349px;
    height: 349px;
}

.about_me{
    width: 45%;
    margin-left: 205px;
}
.title{
    color: #42446E;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.4px;
}
.title h2{
    margin-bottom: 38px;
}
.title p{
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 38px;
}
.job_section{
    border-bottom: 2px solid #EBEAED;
}
.job_description{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
    margin-top: 30px;
}
.job_title{
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1px;
}
.job_marker p{
    padding: 1px 22px;
    border-radius: 100px;
    background-color:  #D7FFE0;
    color: #018C0F;
    text-align: center;
    font-size: 9px;
    font-weight: 600;
    line-height: 26px;
}
.job_marker:hover{
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.job_details,
.details{
    display: flex;
    justify-content: space-between;
}
.details{
    padding-bottom: 26px;
}
.company{
    display: flex;
}
.company p{
    color: #A7A7A7;
    font-size: 12px;
    font-weight: 500;
    line-height: 28px;
}
.company_name{
    position: relative;
    padding-left: 20px;
    position: relative;
    padding-left: 20px;
    padding-right: 80px;
}
.duration p{
    color: #A7A7A7;
    font-size: 12px;
}
.company_name::before{
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('./images/mdi_office-building.svg');
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
    top: 6px;
}
.internship{
    padding: 1 18px;
}
.company_location{
    position: relative;
}
.company_location::before{
    content: "";
    display: block;
    width: 16px;
    height: 12px;
    background-image: url('./images/pin.png');
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    left: -20px;
    top: 8px;
}
.duration{
    position: relative;
    padding-left: 20px;
}
.duration::before{
    content: "";
    display: block;
    width: 16px;
    height: 12px;
    background-image: url('./images/gg_calendar-dates.svg');
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    left: 0px;
    top: 3px;
}
.education{
    margin-top: 38px;
}
.job_title{
    padding-right: 0;
}
footer{
    margin: 199px auto 0;
    width: 75%;
}
.footer_contacts{
    margin: 0 auto;
    display: flex;
}
.top_footer{
    margin-bottom: 55px;
}
.bottom_footer{
    display: flex;
    justify-content: space-between;
    padding: 61px 0;
    border-top: 2px solid #EBEAED;
}
.nav_footer{
    width: 50%;
    display: flex;
    justify-content: space-between;
}